## Bank Note Authentication UCI data
Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Dataset from kaggle: https://www.kaggle.com/datasets/ritesaluja/bank-note-authentication-uci-data
df = pd.read_csv("BankNote_Authentication.csv")
df.head(5)

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [3]:
# Seperate training features(X) and  target feature(y)
X = df.iloc[:,:-1]
y = df.iloc[:, -1]

In [4]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

## Train Test Split

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3, random_state=0)

## Implement Random Forest Classifier

In [15]:
# fit training set (X, y)

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()

classifier.fit(X_train, y_train)

RandomForestClassifier()

In [16]:
# predict
y_pred = classifier.predict(X_test)

In [17]:
# accuracy 
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
print('score : ', score)

score :  0.9878640776699029

## Create a Pickle file using serialization

In [19]:
import pickle
pickle_out = open("classifier.pkl", "wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

## testing

In [21]:
classifier.predict([[2,3,4,1]])

array([0])